@import "tailwindcss";

input::placeholder {
  font-size: 1rem;
}

::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}
::-webkit-scrollbar-track {
  border-radius: 0.5rem;
  background: #e9ecef;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #ced4da;
  border: 3px solid #e9ecef;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #adb5bd;
}

.dark ::-webkit-scrollbar-track {
  background: #343a40;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #6c757d;
  border: 3px solid #343a40;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #adb5bd;
}

@media (hover: hover) {
  button:hover {
    cursor: pointer;
  }
}

@custom-variant dark (&:where(.dark, .dark *));
